
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<body>

    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
               
                <div class="row inner-sec">
                    <div class="blog-grid-top">

                        <div class="blog_info_top_grid">
                            
                                <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
                            
                        </div>
                        <h3>
                            Biz Kimiz ?
                        </h3>
                        <p>sfhbajksfjasklşkfasşlidais
                            fhbajksfjasklşkfasşlidaisşldas
                            fhbajksfjasklşkfasşlidaisşldas
                            fhbajksfjasklşkfasşlidaisşldasfhbajksfjasklşkfasşlidaisşldas
                            fhbajksfjasklşkfasşlidaisşldas
                            fhbajksfjasklşkfasşlidaisşldas
                            fhbajksfjasklşkfasşlidaisşldas
                            fhbajksfjasklşkfasşlidaisşldasşldasiş
                        </p>
                       

                        
                    </div>

                </div>
                
           
            </div>
        </div>
    </section>
</body>

</html>

