
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<body>

    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle" style="font-family:Times New Roman">Hakkımızda</h3>
            <div class="row inner-sec">
               
                <div class="row inner-sec">
                    <div class="blog-grid-top">

                        <div class="blog_info_top_grid">
                            <h3 style="text-align:center">
                                <img src="~/blogpic/cloudabout.jpg" class="img-fluid" alt="">

                            </h3>
                            
                        </div>
                        <h3 style="text-align:center">
                            Biz Kimiz ?
                        </h3>
                        <p style="text-align:center">
                           Birçok sanatçının eserlerini tanıtan ve eserler hakkında bloglar yazan bir siteyiz.
                           Eserlerin bugüne kadar gelmiş hikayelerini sizinle paylaşmaktan çekinmeyen ve sanata
                           değer veren bir siteyiz.Sitemizde ünlüce ressamların resimlerini veya adı duyulmamış gizemli
                           eserleri keşfedebilirsiniz.Birbirinden farklı estetiğe sahip resimleri görmek için hadi keşfe çıkalım...
                           
                        </p>
                        <h4 style="text-align:center">
                       <a  href="/Blog/Index/" style="color:#8060a2">Keşfe Başla..</a>
                        </h4>
                     
                    </div>

                </div>
                
           
            </div>
        </div>
    </section>
</body>

</html>

