@model IEnumerable<EntityKatmani.Concrete.Blog>
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">
<body>
   <br/>
   <br/>
    <section class="row justify-content-md-center">
  
        <div class="row justify-content-md-center">                      
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
          							<a href="/Blog/BlogReadAll/@item.BlogID">

							        	<img src="@item.BlogImage" class="card-img-top img-fluid" alt="">
                                   					   
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd MMMMMMMMM yyyy"))
                                            </a>                                        
                                    </ul>
                                </div>
                            </div>
                            <h3>
                                <a href="single.html">@item.BlogTitle </a>
                            </h3>
                            <p>
                                @item.BlogContent
                            </p>
                            <a href="/Blog/Index/" class="btn btn-primary read-m" style="background-color:#b69ad6">Bloglara Dön</a>
                        </div>
                    }
                    
                </div>

          
            </div>
        
    </section>  
</body>

</html>
