
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<body>

        <div class="container">

            <div class="row inner-sec">
               
                <div class="row inner-sec">
                    <div class="blog-grid-top">

                        <div class="blog_info_top_grid">
                            <h3 style="text-align:center">
                                <img src="~/blogpic/water-lilies.jpg" class="img-fluid" alt="">

                            </h3>
                            
                        </div>
                        <h3 style="text-align:center">
                            Merhabalar
                        </h3>
                        <p style="text-align:center">
                           Yukarıda gördüğün resmi beğendin mi ?
                           Claude Monet'in Niliferler resmini beğendiysen tam sana göre eserlerimiz var
                           Sitedeki birçok farklı sanat akımlarından oluşan eserleri incelemek ister misiniz,
                           peki ya hakkımızda daha fazlasını öğrenmeye?                         
                        </p>
                        <h4 style="text-align:center">
                       <a  href="/Blog/Index/" style="color:#8060a2">Keşfe Başla..</a>
                        </h4>
                     
                    </div>

                </div>
                
           
            </div>
        </div>
</body>

</html>
