    <footer style="background-color:#ebe8e8">
		<div class="container">
			
			<div class="footer-cpy text-center">
				
				<div class="w3layouts-agile-copyrightbottom">
					<p>© @DateTime.Now.Year DanteWebBlog All Rights Reserved | Design by Dante Company
						
					</p>

				</div>
			</div>			
		</div>
	</footer>
