<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <h1 style="text-align:center" >
                         <a style="color:#fff">Dante</a>
                        </h1>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">
                               
                            </span>
                          
                        </a>
                    </div>
                    <div class="logo-element">
                       
                    </div>
                </li>
              
                <li>
                    <a href="/Admin/Category/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span></a>
                    <a href="/Admin/Blog/Index/"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span></a>
                    <a href="/Admin/Writer/Index/"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span></a>
                    <a href="/Admin/AdminRol/Index/"><i class="fa fa-lock"></i> <span class="nav-label">Roller</span></a>
                    
                    <a href="/Login/Index/"><i class="fa fa-sign-out"></i> <span class="nav-label">Çıkış Yap</span></a>

                </li>
                                                                          
            </ul>
        </div>
    </nav>
